{% extends "layout.html" %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="flash-message" style="color: #dddddd;">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" src="{{ image_file }}">
    <div class="media-body" style="display: flex; justify-content: space-between;">
      <div>
        <h2 class="account-heading">{{ current_user.username }}</h2>
        <p>Email : {{ current_user.email }}</p>
      </div>
      <div>
        <a class="btn btn-primary mr-3 mt-5" href="{{ url_for('update_account') }}">Update Account</a>
      </div>
    </div>
  </div>
  <hr style="border: 1px #dddddd solid;">
  <article class="media">
    <div class="media-body">
      <div class="account-details">
        <h3>&MediumSpace; Total des transactions : {{ current_user.total_transactions }} MAD</h3>
        <h3>&MediumSpace; Balance: {{ current_user.balance }} MAD</h3>
        <h4>&MediumSpace; Statistiques</h4>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <canvas id="spendingBarChart" width="400" height="200"></canvas>
          </div>
          <div class="col-md-6 col-sm-12">
            <canvas id="spendingPieChart" width="400" height="200"></canvas>
          </div>
        </div>
        <h4>&MediumSpace; Historique de transactions</h4>
        
        <form method="GET" action="{{ url_for('account') }}" class="form-inline mb-3">
          <select style="border-color: rgba(0,0,0.4);color:black !important" name="year" class="form-control mr-2">
            {% for year in range(2020, now.year + 1) %}
              <option style="border-color: rgba(0,0,0.4);color:black !important" value="{{ year }}" {% if year == selected_year %}selected{% endif %}> {{ year }}</option>
            {% endfor %}
          </select>
          <select style="border-color: rgba(0,0,0.4);color:black !important" name="month" class="form-control mr-2">
            {% for month in range(1, 13) %}
              <option style="border-color: rgba(0,0,0.4);color:black !important" value="{{ month }}" {% if month == selected_month %}selected{% endif %}> {{ month }} </option>
            {% endfor %}
          </select>
          <button type="submit" class="btn btn-primary">Filter</button>
        </form>

        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Amount</th>
              <th scope="col">Date</th>
              <th scope="col">Description</th>
              <th scope="col">Category</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for transaction in transactions %}
            <tr id="transaction-{{ transaction.id }}">
              <th scope="row">{{ loop.index }}</th>
              <td>{{ transaction.title }}</td>
              <td>{{ transaction.montant }} MAD</td>
              <td>{{ transaction.date.strftime('%Y-%m-%d') }}</td>
              <td>{{ transaction.description }}</td>
              <td>{{ transaction.categorie.nom }}</td>
              <td style="display: flex; justify-content: space-evenly;">
                <a href="{{ url_for('update_transaction', transaction_id=transaction.id) }}"
                  class="btn btn-warning btn-sm">Edit</a>
                <form method="POST" action="{{ url_for('delete_transaction', transaction_id=transaction.id) }}"
                  onsubmit="return deleteTransaction(event, {{ transaction.id }}, {{ transaction.montant }});">
                  {{ form.hidden_tag() }}
                  <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </article>

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <hr style="border: 1px #dddddd solid;">
 
  


  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const barCtx = document.getElementById('spendingBarChart').getContext('2d');
    const pieCtx = document.getElementById('spendingPieChart').getContext('2d');

    const spendingData = {
        labels: {{ categories | tojson }},
        datasets: [{
            label: 'Total',
            data: {{ amounts | tojson }},
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1
        }]
    };

    const spendingBarChart = new Chart(barCtx, {
        type: 'bar',
        data: spendingData,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    const spendingPieChart = new Chart(pieCtx, {
        type: 'pie',
        data: {
            labels: {{ categories | tojson }},
            datasets: [{
                data: {{ amounts | tojson }},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false
        }
    });
  </script>
</div>

<script>
  function deleteTransaction(event, transactionId, transactionAmount) {
    event.preventDefault();

    const form = event.target;

    const formData = new FormData(form);

    fetch(form.action, {
      method: 'POST',
      body: formData
    })
      .then(response => {
        if (response.ok) {
          document.getElementById('transaction-' + transactionId).remove();

          const balanceElement = document.getElementById('balance');
          const newBalance = parseFloat(balanceElement.textContent) - transactionAmount;
          balanceElement.textContent = newBalance.toFixed(2);

          alert('Transaction deleted successfully.');
        } else {
          alert('Failed to delete the transaction.');
        }
      })
      .catch(error => {
        console.error('Error:', error);
        window.location.reload();
      });

    return false;
  }
</script>
{% endblock content %}
