{% extends "layout.html" %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="flash-message {{ category }}" style="color: #dddddd;">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
          <h3 class="mb-4 text-center">LOGIN</h3>
          <form method="POST" action="" class="signin-form">
            {{ form.hidden_tag() }}
            <div class="form-group">
              {% if form.email.errors %} {{ form.email(class="form-control
              form-control-lg is-invalid",placeholder ="Email") }}
              <div class="invalid-feedback">
                {% for error in form.email.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %} {{ form.email(class="form-control
              form-control-lg",placeholder = "Email") }} {% endif %}
            </div>
            <div class="form-group">
              {% if form.password.errors %} {{
              form.password(id="password-field",class="form-control
              form-control-lg is-invalid",placeholder = "Password") }}
              <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %} {{
              form.password(id="password-field",class="form-control
              form-control-lg",placeholder = "Password") }} {% endif %}
              <span
                toggle="#password-field"
                class="fa fa-fw fa-eye field-icon toggle-password"
              ></span>
            </div>
            <div class="form-group">
              <button
                type="submit"
                class="form-control btn btn-primary submit px-3"
              >
                Sign In
              </button>
            </div>
            <div class="form-group d-md-flex">
              <div class="w-50">
                <label
                  class="checkbox-wrap checkbox-primary"
                  for="{{form.remember.id}}"
                  >Remember Me {{ form.remember(class="checkbox checkmark") }}
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>

          </form>
          <p class="w-100 text-center" style="color: #fff">
            &mdash; Or Sign In With &mdash;
          </p>
          <div class="text-center">
            <a
              href="{{ url_for('register') }}"
              class="form-control btn-secondary"
              style="background-color: #f7b02b73"
              >Register</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% endblock content %}
