{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <h1>Update Balance</h1>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.operation.label(class="form-control-label", style="color:black;") }}
                {{ form.operation(class="form-control form-control-lg", style="border-color: rgba(0,0,0.4);color:black !important") }}
            </div>
            <div class="form-group">
                {{ form.amount.label(class="form-control-label", style="color:black;") }}
                {{ form.amount(class="form-control form-control-lg", style="border-color: rgba(0,0,0.4);color:black !important") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
</article>
{% endblock content %}
